<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>BG | Eventos</title>
    <link rel="icon" type="image/png" href="./img/camera-fotografica.png"/>
</head>

<body>
    <nav class="sub-menu">
        <article>
            <img src="/img/book-logo.gif" class="igm-bookdagalera" alt="Nome da logo">
            <h1>
                <a href="/">Book Da Galera</a>
            </h1>
        </article>

        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Pesquisar">
            <button class="btn" type="submit">Ok</button>
        </form>

        <ul>
            <li>
                <a href="/eventos">Eventos
                    <span class="ico-seta-menu">&nbsp;</span>
                </a>
                    <ul>
                        <li><a href="/albuns/1">Aniversários</a></li>  
                        <li><a href="/albuns/2">Baladas</a></li>
                        <li><a href="/albuns/3">Casamentos</a></li>
                        <li><a href="/albuns/4">Churrascos</a></li>  
                        <li><a href="/albuns/5">Festivais</a></li>
                        <li><a href="/albuns/6">Happy hour</a></li>
                        <li><a href="/albuns/7">Malabares</a></li>
                        <li><a href="/albuns/8">Réveillons</a></li>
                    </ul>
            <li>
                <a href="/sobre">Sobre</a>
            </li>
           
            <li>
                <a href="/controle">Usuário</a>
            </li>
        </ul>
    </nav>

    <div class="albuns_all">
        <div>
            <img class="img_albuns" src='<%= eventos_img.local_imagem_titulo %>'>
        </div>
    <section id="pesquisa" class = "card_teste">
        <% albuns.forEach((item, albuns) => { %>
            <a class="card_albuns" href="/image/<%= item.id_albuns %>">
                <img src='<%= item.album_imagem %>'>
                <h3>
                    <p>Evento: <%= item.nome_album %> </p>
                    <p>Data: <%= item.data_album %></p>
                    <p>Local: <%= item.local_album %></p>
                    <p>Autor: <%= item.nome_autor %></p>
                </h3>
            </a>
     <% }) %>
    </section>
<script src="/js/script.js"></script>
</body>
</html>

